body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-image: url('lien_vers_image_de_la_banniere.jpg');
    background-size: cover;
    height: 200px;
    padding: 20px;
    color: rgb(239, 157, 238);
    text-align: left;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    margin-top: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}